# Set the email address that should be used to contact you if there is a problem with
# your TLS certificates.
{
  email you@example.com
}

# If you have a domain name, replace the ip addreess with it.
# To enable HTTPS, remove "http://"
http://161.35.71.158 {
  respond /debug/* "Not Permitted" 403
  reverse_proxy localhost:4000
}
